@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");
:root {
  font-size: 15px;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
  overflow: auto;
}

body {
  height: 100%;
  color: rgba(255, 255, 255, 0.75);
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flx-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.flx-col-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-container {
  margin: 50px 20px;
  width: 340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
  overflow: hidden;
}

.card {
  width: 340px;
}

.card-yellow {
  background-color: #e38826;
  color: #e38826;
}

.card-blue {
  background-color: #006970;
  color: #006970;
}

.card-green {
  background-color: #004241;
  color: #004241;
}

.card-image {
  margin: 50px 0 0 35px;
}

.card-text {
  padding: 35px;
}

.card-text .card-header {
  margin: 20px 0 30px 0;
  font-size: 35px;
  text-transform: uppercase;
  color: white;
  font-family: 'Big Shoulders Display', cursive;
  font-weight: 700;
}

.card-text .card-paragraph {
  line-height: 25px;
  color: rgba(255, 255, 255, 0.75);
  padding-right: 35px;
}

.card-btn {
  padding: 15px 40px;
  border: 2px solid white;
  border-radius: 30px;
  color: inherit;
  font-weight: 400;
  font-family: 'Lexend Deca', sans-serif;
  text-transform: capitalize;
  background-color: white;
  margin: 30px 0 20px 0;
  -webkit-transition: 200ms ease-in;
  transition: 200ms ease-in;
}

.card-btn:hover {
  background-color: inherit;
  color: white;
}

.attribution {
  color: black;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

@media (min-width: 1000px) {
  html {
    min-height: auto;
    height: 100%;
  }
  .card-container {
    width: calc(3 * 340px);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
/*# sourceMappingURL=main.css.map */